// .content{
//   margin: 0px 15px 0px 15px;
// }



.example-spacer {
  flex: 1 1 auto;
}

mat-sidenav {
  background-color: #f0f8ff;
}

mat-sidenav-content {
  height: 100vh;
  background-color: #f0f8ff;
}

mat-sidenav-container {
  height: 100vh;
  background-color: #f0f8ff;
}

.sidemenu {
  background-color: #f0f8ff;
}

// span{
//   color: #326089;
// }

.toolbar-menu {

  font-size: 1rem;
  z-index: 1001;
  // margin-bottom: 20px;
  background-color: #326089;
}



.toolbar-submenu {
  height: 70px;
  font-size: 1.5rem;
  // margin-top: 30px;
  background: #326089;
  color: #f0f8ff;
}

.submenu-title{
  margin-left: 32px;
}


.example-icon {
  color: #f0f8ff;
}



// .title {
//   margin-bottom: 500px;
// }


// ------------sidebar------------- //

.mat-drawer-content {
  background-color: #efefef;
}

.sidenav {
  width: 200px;
  // margin-top: 64px;
  color: #326089;



  mat-icon {
    margin: 0 10px -9px 0;
    font-size: 18px;
    color: #326089;


  }


  .example-icon {
    color: #326089;
  }

  mat-toolbar {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 200px;
    color: #326089;

  }

  a{
    text-decoration: none;
    color: #326089;
  }

  .avatar{
    margin-top: 15px;
    width: 100px;
    height: 100px;
    border-radius: 50%;

  }

  .name{
    margin-top: 8px;
    font-weight: normal;
  }

  .designation{
    font-size: 0.8rem;
    color: #3a5c7a;
  }




}
