.tabs {
  margin-top: 1em;
}

.tabs a {
  font-size: 16px;
}

// .mat-focus-indicator{
//   color: black;
// }

.active-link{
  background-color: #e5e5e5;
  color: black;
  border: 1px solid #0000001f;
  border-bottom: 0px;
}


.container
{
  padding: 2px 20px 2px 20px;
  border-top: 1px solid #0000001f;
  // border-top: 0;
}
