.toolbar-menu {
  position: fixed;
  font-size: 1rem;
  top: 10;
  z-index: 1001;
  // height: 50px;
  // margin-bottom: 20px;
  background-color: #326089;
}


.content-center{
  display: flex;
  flex-direction: row;
  margin-left: auto;
}
